#navbar {
    box-shadow: inset 1px 1px rgb(255 255 255 / 20%),
    inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%) !important;
    background-color: transparent !important;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%) !important;
    backdrop-filter: blur(5px) !important;
    position: relative !important;
    overflow: hidden !important;
    color: #fff !important;
    font-weight: 700;
    font-size: 1.4rem;
}

.card.mini {
    width: 308px;
}

.card.mini > .card-body, .card.mini > .card-header {
    padding: 0;
}

.card.mini > .card-body > * > svg, img, .card > .card-body > * > svg, img {
    margin: 5px 0 5px 5px !important;
}

/*#carouselInCard > div.carousel-inner > div.carousel-item> img{*/
/*     width:450px;*/
/*     height:450px;*/
/* }*/

#previewCard {
    flex: 0 0 500px;
}

#descriptionInput {
    height: 110px;
}


.card.mini, .card > .card-body > h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}

.card.mini > .card-header > img {
    height: 100%;
    width: 100%;
}

.btn-group > .btn {
    padding: 12px 10px 12px 10px;
}

.card-header h1 {
    margin: 0;
}

.card.profile .card-body {
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.card.profile .card-header {

    padding-bottom: 0px;

}

.card.profile .carousel-item {
    padding: 0 3rem;
}


.modal-body{
    padding: 0;
}
.carousel-indicators{
    margin-bottom: 0;
}

.modal-body > .card.profile{
    backdrop-filter: blur(15px);
    background-color: rgba(197, 57, 133, 0.11);
}

#miniCardButton{
    padding:0;
    border:0;
}