<!DOCTYPE HTML>
<html>
<head>
    <title>Start</title>
</head>
<div data-th-insert="header"></div>
<body>

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Willkommen</h1>
        <h1>
            <span style="color:#FF0000">H</span><span style="color:#FFAA00">a</span><span style="color:#AAFF00">l</span><span
                style="color:#00FF00">l</span><span style="color:#00FFAA">o</span> <span
                style="color:#00AAFF">W</span><span
                style="color:#0000FF">e</span><span style="color:#AA00FF">l</span><span style="color:#FF00AA">t</span>
        </h1>

        <p data-th-text="|Es gibt ${totalProfiles} Profile in der Datenbank.|"></p>


    </div>
</div>


<div data-th-insert="footer"></div>
</body>
</html>
