<!DOCTYPE HTML>
<html>
<head>
    <title>Suche</title>
</head>
<div data-th-insert="header"></div>
<body>
<div class="container">
    <form data-th-object="${search}" data-th-action="@{/search}" method="get">
        <div class="row">
            <div class="col">
                <div class="card input">
                    <h3 class="card-header">Alter</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label " for="minAgeInput">Minimum</label>
                                <input type="text" class="form-control" data-th-field="*{minimumAge}"
                                       placeholder="Default input"
                                       id="minAgeInput">
                            </div>
                            <div class="col">
                                <label class="col-form-label " for="maxAgeInput">Maximum</label>
                                <input type="text" class="form-control" data-th-field="*{maximumAge}"
                                       placeholder="Default input"
                                       id="maxAgeInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card input">
                    <h3 class="card-header">Horn Länge</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label " for="minHornlength">Minimum</label>
                                <input type="text" class="form-control" data-th-field="*{minimumHornlength}"
                                       placeholder="Default input"
                                       id="minHornlength">
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="maxHornlength">Maximum</label>
                                <input type="text" class="form-control" data-th-field="*{maximumHornlength}"
                                       placeholder="Default input"
                                       id="maxHornlength">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card input">
                    <h3 class="card-header">Geschlecht</h3>
                    <div class="card-body">
                        <label for="genderInput" class="form-label">Gender</label>
                        <input type="text" data-th-field="*{gender}" id="genderInput"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Suchen</button>
    </form>
</div>


<div data-th-insert="cards :: mini-card"></div>




<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nickname</th>
        <th scope="col">Hornlength</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="profile,iterationStatus : ${profiles}">
        <td data-th-text="${profile.id}"></td>
        <td data-th-text="${profile.nickname}"></td>
        <td data-th-text="${profile.hornlength}"></td>
        <td data-th-text="${profile.description}"></td>
    </tr>
    </tbody>
</table>


<div data-th-insert="footer"></div>
</body>
</html>