<!DOCTYPE HTML>
<html>
<head>
    <title>Suche</title>
</head>
<div data-th-insert="header"></div>
<body>
<div class="container">
    <form data-th-object="${search}" data-th-action="@{/search}" method="get">
        <div class="row">
            <div class="col">
                <div class="card input">
                    <h3 class="card-header">Alter</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label " for="minAgeInput">Minimum</label>
                                <input type="text" class="form-control" data-th-field="*{minimumAge}"
                                       placeholder="Default input"
                                       id="minAgeInput">
                            </div>
                            <div class="col">
                                <label class="col-form-label " for="maxAgeInput">Maximum</label>
                                <input type="text" class="form-control" data-th-field="*{maximumAge}"
                                       placeholder="Default input"
                                       id="maxAgeInput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card input">
                    <h3 class="card-header">Horn Länge</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label " for="minHornlength">Minimum</label>
                                <input type="text" class="form-control" data-th-field="*{minimumHornlength}"
                                       placeholder="Default input"
                                       id="minHornlength">
                            </div>
                            <div class="col">
                                <label class="col-form-label" for="maxHornlength">Maximum</label>
                                <input type="text" class="form-control" data-th-field="*{maximumHornlength}"
                                       placeholder="Default input"
                                       id="maxHornlength">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card input">
                    <h3 class="card-header">Geschlecht</h3>
                    <div class="card-body">
                        <label for="genderInput" class="form-label">Gender</label>
                        <input type="text" data-th-field="*{gender}" id="genderInput"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Suchen</button>
    </form>
</div>


<div class="container">
    <div class="d-flex flex-wrap">

        <div data-th-each="profileDto: ${profiles}" class="p-2 bd-highlight" data-th-attr="onclick='location.href=\'/profile/'+ ${profileDto.profile.id}+'\''"  style="cursor: pointer;" >

            <div data-th-insert="fragments/cards :: mini-card"></div>
        </div>
    </div>
</div>

<div data-th-insert="footer"></div>
</body>
</html>