<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">


<head data-th-fragement="head">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Date4u</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item" href="/search">Search</a>
                </li>
            </ul>


            <div class="d-flex" sec:authorize="isAuthenticated()">
                <form id="logoutForm" method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-secondary" value="Logout">Logout</button>
                </form>
            </div>

        </div>
    </div>
</nav>


</body>
</html>